/*================
===== Colors =====
#101f71
#f0d45c
#101f71
#efefef
=================*/

/*===============
==Basic Setup==
================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px; /*All fonts relative to this 20px*/
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1} /*This clears the floast between elements, no overlapping margins/padding*/
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*=====================
==Reusable Components==
======================*/


.row{
    max-width: 1140px;
    margin: 0 auto; /*CENTER*/
}

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/*=====================
======= Header ========
======================*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/house-arryn.jpg);
    background-size: cover; /*Fixes full image to entire page*/
    background-position: center;
    height: 100vh; /*100% of viewport*/
    background-attachment: fixed;
}

.head-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Moves the element half of its W/H up and to left.*/
    margin: 10px;
}
.logo{
    height: 150px;
    width: auto;
    float: left;
    margin-top: 45px;
}

.main-nav{
    float: right;
    list-style: none; /*Gets rid of bullet points*/
    margin-top: 55px;
    margin-right 1000px;
}

.main-nav li{
    position:;
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #101f71; /*Underline link hover orange*/
    
}

/*===========
== Buttons ==
============*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s; /*Slowly changes color of background*/
}

.btn-full:link,
.btn-full:visited {
    
    border: 2px solid #8d8d8d;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #8d8d8d;
    color: #fff;
}

.btn:hover,
.btn:active{
    background-color: rgba(16, 31, 113, 0.5);
    color: #f0d45c;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid rgba(16, 31, 113, 0.5);
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid rgba(16, 31, 113, 0.5);
    color: #f0d45c;
}


/*============
== Headings ==
=============*/

h1{
    font-weight:400;
    color: #101f71;
    letter-spacing: 1px;
}

h2{
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #efefef;
    width: auto;
}

h3{
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #efefef;
    width: auto;
}



/*=========================
==== House Sigil Icons ====
==========================*/

.section-history-video{
    background-color: #f2f2f2;
}

.icon-group-one{
    position: absolute;
    margin-left: 6%;
}


.icon-group-two{
    position: absolute;
    margin-top: 10%;
    margin-left: 6%;

}

.icon-group-three{
    position: absolute;
    margin-left: 80%;

}


.icon-group-four{
    position: absolute;
    margin-left: 80%;
    margin-top: 10%;
}

.icon-group-one img{
    margin-right: 25px;
}

.icon-group-two img{
    margin-right: 25px;
}

.icon-group-three img{
    margin-right: 25px;
}

.icon-group-four img{
    margin-right: 25px;

}

.arryn-video{
    margin-left: 35%;
    margin-top: 50px;
    
}

/*=======================
==== History Section ====
========================*/

.arryn-history{
    background-color: #efefef;
}

.arryn-maps{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(img/eyrie.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 15%;
}


.arryn-history-text{
    border-radius: 5px;
    line-height: 1;
}

.arryn-history-text p{
    padding: 2%;
}













